<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form class="authentication-form" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Email/Username" formControlName="email" [errorStateMatcher]="matcher" />
                <mat-hint>admin</mat-hint>
                <mat-error *ngIf="form.invalid">{{ getErrorMessage('email') }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" />
                <mat-hint>admin</mat-hint>
                <mat-error *ngIf="form.invalid">{{ getErrorMessage('password') }}</mat-error>
            </mat-form-field>
            <div class="error" *ngIf="error">{{ error }}</div>
            <div class="button">
                <button type="submit" mat-button>Login</button>
                <button (click)="testError()" mat-button>Error</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
